.header__text{
    height: 100vh;
}

.sluzba-container h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
}

.sluzby__photo{
    width: 729px;
    height: 307px;
}

.sluzby__obsah{
    display: flex;
    flex-direction: row;
}

.refrence__galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button--center{
    text-align: center;
}

.sluzby-section h1{
    text-align: center;
    padding-bottom: 1em;
}

.seznam-onas{
    padding: 1em 5em;
}

.sluzby-section{
    padding: 1em 5em;
}

.reference__info{
    text-align: center;
}

.sluzba-container{
    text-align: center;
}