.hamb {
    display: none;
}
.side-menu {
    display: none;
}
.navbar{
    position: absolute;
    top: 30px;
    width: 90%;
    background-color: var(--bg-color);
    left: 50%;
    transform: translate(-50%);
}
.nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    max-height: none;
    background-color: transparent;
    width: fit-content;
    transform: unset;
    left: unset;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    float: right;
    list-style: none;
    height: calc(2em + 35px);   
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--header-txt);
    text-align: center;
    padding: 0;
}
.menu li {
    display: flex;
    align-items: center;
    padding: 1em;
}

.menu li:hover {
    background-color: var(--main-color);
}

.menu a:hover {
    color: var(--bg-color);
}

.header__text{
    height: 100vh;
}

.sluzba-container h1{
    text-align: center;
}

.sluzba-container p{
    text-align: center;
}

.sluzby__photo{
    width: 729px;
    height: 307px;
}

.sluzby__obsah{
    display: flex;
    flex-direction: row;
}

.reference-container{
    display: flex;
    flex-direction: row;
}