.header__main{
    height: 100vh;
    min-height: 20vh;
}

.sluzba-container h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
}

.sluzba-container p{
    margin: 0 20em;
}

.reference__info p{
    margin: 0 20em;
}

.sluzby-section p{
    margin-right: 20em;
}

.sluzby__text p{
    font-weight: 400;
    font-size: 16px;
}

.sluzby__photo{
    width: 600px;
    height: 307px;
}

.sluzby__obsah{
    display: grid;
    grid-template-areas: "a b";
}

.photo-vlevo{
    grid-area: a;
    margin: 2em;
}

.sluzby__text--vpravo{
    grid-area: b;
    padding: 2em;
}

.photo-vpravo{
    grid-area: b;
    margin: 2em;
}

.sluzby__text--vlevo{
    grid-area: a;
    padding: 2em;
}

.refrence__galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.reference__photo{
    width: 10%;
}

.button--center{
    text-align: center;
}

.sluzby-section h1{
    text-align: center;
    padding-bottom: 1em;
    font-weight: 700;
    font-size: 60px;
}

.sluzby-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}

.sluzby-section li{
    padding-left: 2em;
}

.seznam-onas{
    padding: 1em 5em;
}

.sluzby-section{
    padding: 1em 5em;
}

.reference__info{
    text-align: center;
    padding-bottom: 4em;
}

.reference__info h2{
    font-weight: 700;
    font-size: 60px;
}

.sluzba-container{
    text-align: center;
}

.presvedceni{
    width: 1800;
    height: 458.89px;
    left: 0px;
    top: 0px;
}

.presvedceni p{
    padding-top: 5em;
    padding-left: 5em;
}

.button--left{
    margin-left: 7em;
    padding: 1em 2em;
}

.reference-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}

.reference-section p{
    text-align: center;
}

.reference__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.gallery__img{
    width: 450px;
    height: 270px;
}

.photo__grid{
    margin: 0;
    padding-top: 1.5em;
}

.reference-section--text{
    grid-column: 1 / 4;
}

footer h2{
    font-weight: 700;
    font-size: 60px;
}

footer p{
    font-weight: 300;
    font-size: 25px;
}

.button--white{
    padding: 0.75em 2.5em;
}

.kontakt__body{
    display: flex;
    flex-wrap: wrap;
}

.kontakt__content--text{
    text-align: center;
    padding-bottom: 5em;
}

.kontakt__map{
    width: auto;
}

.kontakt__item{
    padding-left: 5em;
}

.formular__content{
    padding-left: 5em;
    padding-top: 6em;
}

.center__button{
    text-align: center;
}

.hamb {
    display: none;
}
.burger-menu {
    display: none;
}
.navbar {
    position: absolute;
    top: 30px;
    width: 90%;
    background-color: white;
    left: 50%;
    transform: translate(-50%);
}
.navbar__menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    max-height: none;
    background-color: transparent;
    width: fit-content;
    transform: unset;
    left: unset;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    float: right;
    list-style: none;
    height: calc(2em + 35px);   
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #888888;
    text-align: center;
    padding: 0;
}
.menu li {
    display: flex;
    align-items: center;
    padding: 1em;
}

.menu li:hover {
    background-color: #EB6C27;
}

.menu a:hover {
    color: white;
}

.menu-text{
    display: none;
}

.header__text--another{
    height: 20vh;
}

.header__heading--another{
    display: none;
}

.header__heading{
    font-size: 120px;
    font-weight: 800;
    letter-spacing: -0.05em;
}

.header__subheading{
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.05em;
}

.button--header{
    display: inline-block;
    padding: 1em 2em;
}

.header__text{
    margin-bottom: 0;
    margin-top: 25em;
}

.button--another{
    display: none;
}

.header__main--another{
    height: 20vh;
}