@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
}

.photobackround{
    font-family: "OpenSans";
    text-align: center;
    background-image: url(../photos/pageheader-1920w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.sluzby_nadpis{
    font-family: "OpenSans";
}

.orange{
    color: orange;
}

.sluzby_text{
    font-family: "Inter";
}

.sluzby{
    padding: 0.5em;
    font-size: 0.8em;
}

.stavby{
    padding: 0.5em;
}

.photo{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 0px 0px 40px 0px;
}

.nadpis{
    font-family: "OpenSans";
}

.text{
    font-family: "Inter";
}

.button{
    font-family: "Inter";
}