@font-face {
    font-family: "OpenSans";
    font-style: normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url(../fonts/Inter-Regular.ttf);
}

.html{
    scroll-behavior: smooth;
}

.header{
    top: 0;
    width: 100%;
}

.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

.nlogo{
    height: 40px;
}

.nav{
    width: 100%;
    height: auto;
    background-color: #EB6C27;
    overflow: hidden;
}
.menu a{
    display: block;
    text-align: left;
    padding: .7em;
    color: white;
    text-decoration: underline;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}

.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.photobackround{
    font-family: "OpenSans";
    text-align: center;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url(../photos/pageheader-1920w.jpg);
    background-blend-mode: normal, normal, hue, normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.sluzby_nadpis{
    font-family: "OpenSans";
}

.orange{
    color: #EB6C27;
}

.sluzby_text{
    font-family: "Inter";
}

.sluzby{
    padding: 0.5em;
    font-size: 1em;
}

.stavby{
    padding: 0.5em;
}

.photo{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 0px 0px 40px 0px;
}

.nadpis{
    font-family: "OpenSans";
}

.text{
    font-family: "Inter";
}

.button{
    font-family: "Inter";
    color: #EB6C27;
    text-align: center;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 400;
    padding: .4em 1.3em;
    text-decoration: none;
    border: 1px dashed #EB6C27;
}

.důvěra{
    font-family: "Inter";
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../photos/background-CTAblock-4460w.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    zoom: 2em;
}

.dtext{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-top: 1.5em;
    justify-content: center;
}

.obrazek{
    width: 90%;
    height: auto;
    object-fit: cover;
    padding-bottom: 0;
    padding-top: 2.5em;
}

.galerie{
    font-family: "OpenSans";
    text-align: center;
    font-size: small;
}

.galerie_nadpis{
    padding-top: 0;
}

.button-second{
    font-family: "Inter";
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    padding: .4em 1.3em;
    text-decoration: none;
    border: 1px dashed #EB6C27;
    background-color: #EB6C27;
    margin: 0;
    margin-left: 1em;
}

.button-ref{
    font-family: "Inter";
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    padding: .4em 1.3em;
    text-decoration: none;
    border: 1px dashed #EB6C27;
    background-color: #EB6C27;
    margin: auto;
}

.footer_nadpis{
    font-family: "OpenSans";
    text-align: center;
    color: white;
}

.footer_text{
    font-family: "Inter";
    text-align: center;
    color: white;
}

li::marker{
    color: #EB6C27;
    font-size: 1.5em;
}

.footer{
    margin-top: 5em;
    padding: 2em 2em;
    background-color: #EB6C27;
    text-align: center;
}

.button-third{
    font-family: "Inter";
    text-align: center;
    display: inline-block;
    color: #EB6C27;
    font-size: 1.1em;
    font-weight: 400;
    padding: .4em 1.3em;
    text-decoration: none;
    border: 1px dashed white;
    background-color: white;
    margin: auto;
    margin-top: 1.5em;
    padding: 1em 1.5em;
}