@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
}

@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: orange;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: orange;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.photobackround{
    font-family: "OpenSans";
    text-align: center;
    background-image: url(../photos/pageheader-1920w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.sluzby_nadpis{
    font-family: "OpenSans";
}

.orange{
    color: orange;
}

.sluzby_text{
    font-family: "Inter";
}

.sluzby{
    padding: 0.5em;
    font-size: 1em;
}

.stavby{
    padding: 0.5em;
}

.photo{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 0px 0px 40px 0px;
}

.nadpis{
    font-family: "OpenSans";
}

.text{
    font-family: "Inter";
}

.button{
    font-family: "Inter";
    box-sizing: border-box;
    color: orange;
}

.důvěra{
    font-family: "Inter";
    background-image:url(../photos/background-CTAblock-4460w.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    zoom: 2em;
}

.obrazek{
    width: 90%;
    height: auto;
    object-fit: cover;
    padding-bottom: 0;
    padding-top: 2.5em;
}

.galerie{
    font-family: "OpenSans";
    text-align: center;
    font-size: small;
}

.galerie_nadpis{
    padding-top: 0;
}

.button-ref{
    font-family: "Inter";
    text-align: center;
    padding: 2.5em;
}

.button-second{
    font-family: "Inter";
}

.footer_nadpis{
    font-family: "OpenSans";
}

.footer_text{
    font-family: "Inter";
}

.button-third{
    font-family: "Inter";
}